<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068288726618-7cnagrqttoqld4ladqr49irdet6a0ug9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068288726618-7cnagrqttoqld4ladqr49irdet6a0ug9</string>
	<key>API_KEY</key>
	<string>AIzaSyD8wC5NU8h9RMNvnvROHazXeX8ieDPAzbU</string>
	<key>GCM_SENDER_ID</key>
	<string>1068288726618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.resosolutions.reseasyapp</string>
	<key>PROJECT_ID</key>
	<string>reseasy-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>reseasy-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068288726618:ios:e12decf1f3e95651012a63</string>
</dict>
</plist>